In [1]:
# The pandas tutorials are really good:
# http://pandas.pydata.org/pandas-docs/stable/tutorials.html
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Load the data
sleep = pd.read_csv('http://lignos.org/pybootcamp/examples/sleep_study.csv')

In [3]:
# Columns in the data frame
sleep.columns

Index(['Reaction', 'Days', 'Subject'], dtype='object')

In [4]:
# Number of observations
len(sleep)

180

In [5]:
# A summary of the data frame. Notice that Subject is being treated as a number
sleep.describe()

         Reaction        Days     Subject
count  180.000000  180.000000  180.000000
mean   298.507892    4.500000  341.277778
std     56.328757    2.880293   20.320905
min    194.332200    0.000000  308.000000
25%    255.375825    2.000000  331.000000
50%    288.650800    4.500000  336.000000
75%    336.752075    7.000000  352.000000
max    466.353500    9.000000  372.000000

In [6]:
# Change the type of Subject
sleep.Subject = sleep.Subject.astype(str)

In [7]:
# Adding another column. Note that you have to use dictionary syntax here,
# sleep.LogReaction = ... won't work if the column doesn't already exist
sleep['LogReaction'] = np.log10(sleep.Reaction)
sleep.LogReaction.head()

0    2.397175
1    2.412804
2    2.399329
3    2.507100
4    2.552488
Name: LogReaction, dtype: float64

In [8]:
# Drop the LogReaction column. Note the weird syntax.
del(sleep['LogReaction'])

In [9]:
# Use head to see the top of the data
sleep.head()

   Reaction  Days Subject
0  249.5600     0     308
1  258.7047     1     308
2  250.8006     2     308
3  321.4398     3     308
4  356.8519     4     308

In [10]:
# Also works for individual columns. Note the dot syntax for columns.
sleep.Reaction.head()

0    249.5600
1    258.7047
2    250.8006
3    321.4398
4    356.8519
Name: Reaction, dtype: float64

In [11]:
# Another way to get a column, useful for weird column names.
sleep['Reaction'].head()

0    249.5600
1    258.7047
2    250.8006
3    321.4398
4    356.8519
Name: Reaction, dtype: float64

In [12]:
# You can apply a lot of standard methods to the columns themselves
sleep.Reaction.mean()

298.50789166666664

In [13]:
# Unique values
sleep.Subject.unique()

array(['308', '309', '310', '330', '331', '332', '333', '334', '335',
       '337', '349', '350', '351', '352', '369', '370', '371', '372'], dtype=object)

In [14]:
# Number of unique subjects
sleep.Subject.nunique()

18

In [15]:
# Sort data. Note how to control the sort direction.
sleep.sort_values('Reaction', ascending=False)

     Reaction  Days Subject
9    466.3535     9     308
99   458.9167     9     337
98   455.8643     8     337
56   454.1619     6     332
8    430.5853     8     308
97   416.6923     7     337
5    414.6901     5     308
96   404.2601     6     337
118  394.4872     8     350
95   391.8385     5     337
119  389.0527     9     350
139  388.5417     9     352
6    382.2038     6     308
116  379.4445     6     350
79   377.2990     9     334
138  375.6406     8     352
159  372.2288     9     370
49   371.5811     9     331
169  369.4692     9     371
178  369.1417     8     372
149  366.5131     9     369
94   365.7324     4     337
158  365.1630     8     370
179  364.1236     9     372
117  362.9184     7     350
69   362.0428     9     333
137  360.4326     7     352
4    356.8519     4     308
136  354.4266     6     352
39   354.0487     9     330
..        ...   ...     ...
80   241.6083     0     335
153  240.4730     3     370
102  238.9256     2     349
152  238.9008     2     370
19   237.3142     9     309
89   237.2466     9     335
100  236.1032     0     349
88   235.7541     8     335
26   235.4208     6     310
87   235.3110     7     335
50   234.8606     0     332
151  234.5235     1     370
22   234.3200     2     310
23   232.8416     3     310
101  230.3167     1     349
24   229.3074     4     310
150  225.2640     0     370
18   224.2957     8     309
10   222.7339     0     309
130  221.6771     0     352
25   220.4579     5     310
17   217.7272     7     309
15   215.9618     5     309
16   213.6303     6     309
14   207.7161     4     309
11   205.2658     1     309
13   204.7070     3     309
12   202.9778     2     309
20   199.0539     0     310
21   194.3322     1     310

[180 rows x 3 columns]

In [16]:
# Get a single subject's data
subj = sleep[sleep.Subject == '308']

In [17]:
# Summarize the subject's data
subj.describe()

         Reaction      Days
count   10.000000  10.00000
mean   342.133830   4.50000
std     79.821763   3.02765
min    249.560000   0.00000
25%    266.565675   2.25000
50%    339.145850   4.50000
75%    406.568525   6.75000
max    466.353500   9.00000

In [18]:
# You can group data frames by particular things
sleep_subjects = sleep.groupby('Subject')

In [19]:
# Note the number of rows is the number of subjects
len(sleep_subjects)

18

In [20]:
# Per subject reaction time means
sleep_subjects.mean()

          Reaction  Days
Subject
308      342.13383   4.5
309      215.23298   4.5
310      231.00127   4.5
330      303.22142   4.5
331      309.43605   4.5
332      307.30207   4.5
333      316.15831   4.5
334      295.30205   4.5
335      250.07004   4.5
337      375.72101   4.5
349      275.83447   4.5
350      313.60268   4.5
351      290.09775   4.5
352      337.42154   4.5
369      306.03464   4.5
370      291.70177   4.5
371      294.98404   4.5
372      317.88613   4.5

In [21]:
# Per day reaction time means
sleep_days = sleep.groupby('Days')
sleep_days.mean()

        Reaction
Days
0     256.651806
1     264.495756
2     265.361900
3     282.992011
4     288.649422
5     308.518456
6     312.178256
7     318.750583
8     336.629506
9     350.851222

In [22]:
# Standard deviation by day
sleep_days.std()

       Reaction
Days
0     32.129451
1     33.430334
2     29.473423
3     38.857738
4     42.537887
5     51.769625
6     63.173720
7     50.103963
8     60.199716
9     66.986155